* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 6.25%;
  scroll-behavior: smooth;
}

body {
  width: 100vw;
}

.webcontainer {
  display: grid;
  /* height: 100vh; */
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 0.3fr 1fr 1.5fr 1.2fr 1.2fr 1.4fr 0.3fr;
  grid-template-areas:
    "logo nav-links nav-links ticketBtn"
    "section section section section"
    "article article aside aside"
    "member member member member"
    "school school school school"
    "newsletter newsletter newsletter newsletter"
    /* "hook hook contact contact"
      "socialmedia socialmedia soc ialmedia socialmedia" */
    "footer footer footer footer";
}

.logo {
  grid-area: logo;
  display: flex;
  align-items: center;
  /* justify-content: center; */
}
.jplogo {
  width: 130rem;
  height: 100rem;
}
.logo h3 {
  font-size: 30rem;
  width: 150px;
  font-weight: 700;
  text-align: center;
}
.nav-links {
  grid-area: nav-links;
  display: flex;
  justify-content: center;
  align-items: center;
}
.nav-links ul {
  list-style: none;
  display: flex;
  justify-content: space-around;
  width: 100%;
  font-size: 25rem;
}
.nav-links a {
  text-decoration: none;
  color: rgb(100, 100, 100);
}
.nav-links a:hover {
  color: black;
  text-decoration: solid black underline;
  font-weight: 500;
}
.ticketBtn {
  grid-area: ticketBtn;
  display: flex;
  justify-content: center;
  align-items: center;
}
.ticketBtn button {
  width: 230rem;
  height: 60rem;
  border-radius: 10px;
  border: none;
  font-size: 27rem;
  background: rgba(0, 0, 0, 1);
  color: rgba(255, 251, 251, 1);
}
.ticketBtn button:hover {
  cursor: pointer;
  opacity: 80%;
}

section {
  background: linear-gradient(rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.35)),
    url("/img/Velociraptor.jpeg");
  filter: saturate(130%);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  grid-area: section;
  display: flex;
  justify-content: center;
  align-items: center;
}
.text {
  font-size: 45rem;
  font-weight: 700;
  line-height: 56.75px;
  width: 600rem;
  text-align: center;
  color: white;
}

article {
  grid-area: article;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  /* background: blanchedalmond; */
}
.info1,
.info2,
.info3 {
  display: flex;
  align-items: center;
  margin: 38rem auto;
}
.info1 img,
.info2 img,
.info3 img {
  width: 200rem;
  height: 200rem;
  border-radius: 50%;
  transform: translateX(58rem);
}
.info1 h2,
.info2 h2,
.info3 h2 {
  display: flex;
  align-items: center;
  font-size: 30rem;
  font-weight: bold;
  background: rgba(224, 224, 224, 1);
  border-radius: 0 30px 30px 0;
  width: 450rem;
  height: 150rem;
  padding-left: 75rem;
  text-align: center;
  /* transform: translateX(-30rem); */
}
.info1 a,
.info2 a,
.info3 a {
  text-decoration: none;
  color: black;
}
.info1 a:hover,
.info2 a:hover,
.info3 a:hover {
  text-decoration: 3px black underline;
}

aside {
  grid-area: aside;
  display: flex;
  justify-content: center;
  align-items: center;
  /* background: bisque; */
}
.container {
  background: rgba(224, 224, 224, 1);
  width: 470rem;
  height: 698rem;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
.carousel-container {
  display: flex;
  width: 390rem;
}
.mySlides {
  display: flex;
  flex-direction: column;
  text-align: center;
}
.mySlides h2 {
  font-size: 40px;
  margin: 0 0 5px 0;
}
.mySlides h3 {
  font-size: 30px;
  margin: 5px auto 0 auto;
}
.mySlides p {
  /* margin-top: 2rem; */
  font-size: 19px;
  width: 100%;
  margin: 5px auto 0 auto;
}
.mySlides .highlight2 {
  color: rgb(29, 92, 211);
  text-decoration: rgb(29, 92, 211) underline;
}
.mySlides img {
  height: 280rem;
  width: 390rem;
}
#dot1,
#dot2,
#dot3 {
  cursor: pointer;
  height: 18px;
  width: 18px;
  margin: 0 5px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}
#dot1:hover,
#dot2:hover,
#dot3:hover {
  background-color: #717171;
}
/* Fading animation */
.fade {
  animation-name: fadeIn;
  animation-duration: 2.5s;
}
@keyframes fadeIn {
  from {
    opacity: 0.5;
  }
  to {
    opacity: 1;
  }
}

.member {
  grid-area: member;
  background: #f3f2e0;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.member h3 {
  font-weight: 700;
  font-size: 30rem;
  margin: 2px 0 12px 0;
}
.highlight {
  color: rgb(165, 16, 16);
}
.member p {
  font-size: 24px;
  width: 45%;
  margin: auto;
}
.school {
  grid-area: school;
  background: rgba(212, 226, 211, 1);
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.school h3 {
  width: 80%;
  margin: 10rem auto 0 auto;
  font-size: 27px;
  line-height: 30px;
}
.newsletter {
  grid-area: newsletter;
  background: rgba(209, 206, 220, 1);
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
}
.newsletter h3 {
  margin-top: 10rem;
  font-size: 27px;
  line-height: 30px;
}
.input {
  display: flex;
  flex-direction: column;
  margin-top: 30rem;
  align-items: center;
}
.input input {
  height: 50rem;
  width: 400rem;
  margin: 10rem;
  font-size: 20rem;
  padding-inline-start: 5px;
  border-radius: 14px;
  border: none;
}
.input input:focus {
  outline: none;
  border: 2px solid black;
  border-radius: 14px;
}
.grey {
  margin-top: 30rem;
  background: rgba(130, 130, 130, 1);
  color: rgba(255, 255, 255, 1);
  border-radius: 30px;
  border: none;
  height: 65rem;
  width: 300rem;
  font-size: 20px;
  font-weight: 700;
}
.grey:hover {
  background: rgb(20, 20, 20);
  cursor: pointer;
}
.member img,
.school img,
.newsletter img {
  width: 140rem;
  height: 140rem;
}
.member h1,
.school h1,
.newsletter h1 {
  font-weight: 700;
  font-size: 50rem;
  margin-top: 10rem;
}
.member h3,
.school h3,
.newsletter h3 {
  letter-spacing: 2px;
}

footer {
  grid-area: footer;
  background: rgba(224, 224, 224, 1);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  position: relative;
}
.pain {
  display: flex;
  justify-content: space-around;
  margin-top: 10rem;
}
.contact {
  display: flex;
}
.contact1 {
  margin: 0 10px 0 0;
}
.grey2 {
  background: rgba(130, 130, 130, 1);
  color: rgba(255, 255, 255, 1);
  border-radius: 30px;
  border: none;
  height: 65rem;
  width: 300rem;
  font-size: 20px;
  font-weight: 700;
}
.grey2:hover {
  background: rgb(20, 20, 20);
  cursor: pointer;
}
.socialmedia {
  display: flex;
  justify-content: center;
}
.socialmedia img {
  margin: 0 5px;
  width: 40rem;
  height: 40rem;
}
.socialmedia img:hover {
  border: 2px solid black;
}

.bttBtn {
  display: flex;
  align-items: center;
  position: absolute;
  bottom: 12rem;
  right: 15rem;
}
.bttBtn h4 {
  font-size: 10rem;
  margin-right: 7px;
}
.bttBtn img {
  width: 40rem;
  height: 40rem;
}

@media screen and (max-width: 1024px) {
  .webcontainer {
    display: grid;
    /* height: 100vh; */
    grid-template-columns: 1fr;
    grid-template-rows: 0.2fr 0.1fr 0.8fr 1fr 1fr 1.2fr 1.2fr 1.3fr 0.5fr;
    grid-template-areas:
      "logo ticketBtn"
      "nav-links nav-links"
      "section section"
      "aside aside"
      "article article"
      "member member"
      "school school"
      "newsletter newsletter"
      "footer footer";
  }

  .logo {
    grid-area: logo;
    display: flex;
    align-items: center;
  }

  .jplogo {
    width: 130rem;
    height: 100rem;
  }
  .logo h3 {
    font-size: 30rem;
    width: 150px;
    font-weight: 700;
    text-align: center;
  }
  .nav-links {
    border-top: 1px solid rgb(175, 175, 175);
  }
  .ticketBtn button {
    width: 195rem;
    height: 60rem;
    margin: 0 20rem;
  }

  .container {
    background: rgba(224, 224, 224, 1);
    width: 100%;
    height: 100%;
    border-radius: 0;
  }

  .info1,
  .info2,
  .info3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
  }
  .info1 {
    margin: 50rem 0 25rem 0;
  }
  .info2 {
    margin: 25rem 0 25rem 0;
  }
  .info3 {
    margin: 25rem 0 50rem 0;
  }
  .info1 img,
  .info2 img,
  .info3 img {
    width: 140rem;
    height: 140rem;
    border-radius: 50%;
    z-index: 2;
    position: absolute;
    /* top: 0; */
    bottom: 4%;
    right: 19%;
    /* right: 120px; */
    /* margin-right: 2rem; */
  }
  .info1 h2,
  .info2 h2,
  .info3 h2 {
    display: flex;
    background: rgba(224, 224, 224, 1);
    justify-content: flex-start;
    font-size: 30rem;
    border-radius: 30px;
    width: 85%;
    height: 150rem;
    padding-left: 25rem;
    z-index: 1;
  }

  .member p {
    font-size: 24px;
    width: 74%;
    margin: auto;
  }

  footer {
    grid-area: footer;
    background: rgba(224, 224, 224, 1);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    position: relative;
  }
  .grey2 {
    background: rgba(130, 130, 130, 1);
    color: rgba(255, 255, 255, 1);
    border-radius: 30px;
    border: none;
    height: 65rem;
    width: 200rem;
    font-size: 20px;
    font-weight: 700;
  }
  .pain {
    margin-top: 0rem;
  }
  .contact {
    display: flex;
    justify-content: center;
    margin-left: 10rem;
    width: 35%;
  }
  .contact1 {
    margin: 0 10px 10px 0;
  }
  .grey2 {
    height: 65rem;
    width: 195rem;
    font-size: 20px;
    font-weight: 700;
  }
  .socialmedia {
    display: flex;
    justify-content: center;
  }
  .socialmedia img {
    margin: 0 5px;
    width: 55rem;
    height: 55rem;
  }

  .bttBtn {
    display: flex;
    align-items: center;
    position: absolute;
    bottom: 12rem;
    right: 15rem;
  }
  .bttBtn h4 {
    display: none;
  }
  .bttBtn img {
    width: 40rem;
    height: 40rem;
  }
}

@media screen and (max-width: 450px) {
  .info3 a {
    width: 200rem;
  }
}
